<!-- NEW VIDEO  FORM -->
<form id='new-video-form'>

  <fieldset>

    <ul>
      <li>
          <label for="title">Title</label>
          <input type="text" id="title" name="title" size='30'>
        </li>
      <li>
          <label for="description">Description:</label>
          <input type="text" size='30' id="description" name="description">
       </li>
      <li>
          <label for="genre">Genre:</label>
          <input type="text" size='30' id="genre" name="genre">
        </li>
      <li>
         <label for="url">URL:</label>
         <input type="text" size='30' id="url" name="url">
       </li>
    </ul>

    <button class='new-edit' id='new-video-button' type="submit">Add video</button>

  </fieldset>

</form>

<!-- SHOW VIDEO -->

 <div class='video-box'>

  <h2><%= @title %></h2>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @url %>" frameborder="0" allowfullscreen></iframe>

  <p>Genre: <%= @genre %></p>

  <p><%= @description %></p>

  <p><a href="https://youtu.be/<%= @url %>">Watch on YouTube</a></p>

  <form action="/videos/<%= @id %>/edit" method ='get'>
    <button>Edit this video</button>
  </form>

  <form action="/videos/<%= @id %>/delete" method ='post'>
    <button>Delete this video</button>
  </form>

</div>
